@import url("https://use.typekit.net/nyw3ccz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: muli, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}
